flush > /opt/app/current/conf/caddy/caddyfile << CADDYFILE_EOF
{
        admin off
        auto_https off
        persist_config off
        order upload before file_server
        log {
                output file /data/caddy/caddy.log
        }
}

:80 {
        vars {
                rootDir "/data/opensearch"
        }

        root {vars.rootDir}

        handle /analysis* {
                file_server browse
        }

        handle /dump* {
                file_server browse
        }

        handle /logs* {
                file_server browse
        }

        file_server
}

:81 {
        vars {
                rootDir "/data/opensearch"
        }

        root {vars.rootDir}

        file_server

        templates

        @mypost method POST
        upload @mypost {
                dest_dir analysis
                max_form_buffer 1G
                max_filesize 500MB
                response_template templates/upload-resp-template.txt
        }
}
CADDYFILE_EOF
