{{- $halfMemory := div (getv "/host/memory") 2 }}
flush > /opt/app/current/conf/logstash/jvm.options << LS_JVM_EOF
-Xms{{ $halfMemory }}m
-Xmx{{ $halfMemory }}m

11-13:-XX:+UseConcMarkSweepGC
11-13:-XX:CMSInitiatingOccupancyFraction=75
11-13:-XX:+UseCMSInitiatingOccupancyOnly

-Duser.language=zh
-Duser.country=CN
-Duser.variant=

#-Djava.io.tmpdir=$HOME

-Djava.awt.headless=true

-Dfile.encoding=UTF-8

#-Djna.nosys=true

-Djruby.compile.invokedynamic=true

-Djruby.jit.threshold=0

-XX:+HeapDumpOnOutOfMemoryError
-XX:HeapDumpPath=/data/logstash/dump/heapdump.hprof

-Xlog:gc*,gc+age=trace,safepoint:file=@loggc@:utctime,pid,tags:filecount=32,filesize=64m
-Xloggc:${LS_GC_LOG_FILE}

-Djava.security.egd=file:/dev/urandom

-Dlog4j2.isThreadContextMapInheritable=true
LS_JVM_EOF