[Unit]
Description=logstash

[Service]
Type=simple
User=logstash
Group=svc
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/opt/app/current/conf/logstash/logstash.env
ExecStart=/opt/logstash/current/bin/logstash "--path.settings" "/opt/app/current/conf/logstash"
Restart=always
WorkingDirectory=/
Nice=19
LimitNOFILE=1048576

# When stopping, how long to wait before giving up and sending SIGKILL?
# Keep in mind that SIGKILL on a process can cause data loss.
TimeoutStopSec=30
TimeoutSec=60

[Install]
WantedBy=multi-user.target