[Unit]
Description=Dashboards

[Service]
Type=simple
User=dashboards
Group=svc
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=/opt/app/conf/opensearchDashboards/.env
RuntimeDirectory=dashboards
ExecStart=/opt/dashboards/current/bin/opensearch-dashboards "-c /opt/app/conf/opensearchDashboards/opensearchDashboards.yml"
StartLimitInterval=30
StartLimitBurst=3
Restart=always
WorkingDirectory=/data/dashboards

[Install]
WantedBy=multi-user.target
