{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "multi_zone_policy": "round_robin",
  "advanced_actions": [
    "scale_horizontal"
  ],
  "upgrade_policy": [
    "appv-8nme8975"
  ],
  "upgrading_policy": "sequential",
  "nodes": [{
    "role": "es_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-ut8y93af"
    },
    "instance_class": {{cluster.es_node.instance_class}},
    "count": {{cluster.es_node.count}},
    "cpu": {{cluster.es_node.cpu}},
    "memory": {{cluster.es_node.memory}},
    "volume": {
      "size": {{cluster.es_node.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.es_node.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 2,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.es_node.static.os.ssl.http.enabled}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.discovery.zen.no_master_block": {{env.es_node.dynamic.os.discovery.zen.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "prometheus.node.exporter": {{env.es_node.prometheus.node.exporter}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "dynamic.os.node.attr.data": {{env.es_node.dynamic.os.node.attr.data}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "os_cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_c_p": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_all": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_coordinating": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_primary": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_replica": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_all": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_limit": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"],
        "index_pressure_group": ["node_indexing_pr_coordinating", "node_indexing_pr_primary", "node_indexing_pr_replica", "node_indexing_pr_all", "node_indexing_pr_limit"],
        "index_pressure_percent_group": ["node_indexing_pr_percent_c_p", "node_indexing_pr_percent_all"]
      },
      "display": ["os_cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "index_pressure_group", "index_pressure_percent_group"],
      "alarm": ["os_cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "node_indexing_pr_percent_all", "node_indexing_pr_percent_c_p"]
    }
  }, {
    "role": "es_master_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-ut8y93af"
    },
    "instance_class": {{cluster.es_master_node.instance_class}},
    "count": {{cluster.es_master_node.count}},
    "cpu": {{cluster.es_master_node.cpu}},
    "memory": {{cluster.es_master_node.memory}},
    "volume": {
      "size": {{cluster.es_master_node.volume_size}},
      "class": {{cluster.es_master_node.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 1,
        "timeout": 300
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.es_node.static.os.ssl.http.enabled}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.discovery.zen.no_master_block": {{env.es_node.dynamic.os.discovery.zen.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "prometheus.node.exporter": {{env.es_node.prometheus.node.exporter}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive",
      "action_timeout_sec": 150
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "os_cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_c_p": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_all": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_coordinating": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_primary": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_replica": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_all": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_limit": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"],
        "index_pressure_group": ["node_indexing_pr_coordinating", "node_indexing_pr_primary", "node_indexing_pr_replica", "node_indexing_pr_all", "node_indexing_pr_limit"],
        "index_pressure_percent_group": ["node_indexing_pr_percent_c_p", "node_indexing_pr_percent_all"]
      },
      "display": ["os_cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "index_pressure_group", "index_pressure_percent_group"],
      "alarm": ["os_cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "node_indexing_pr_percent_all", "node_indexing_pr_percent_c_p"]
    }
  }, {
    "role": "es_node_2",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-ut8y93af"
    },
    "instance_class": {{cluster.es_node_2.instance_class}},
    "count": {{cluster.es_node_2.count}},
    "cpu": {{cluster.es_node_2.cpu}},
    "memory": {{cluster.es_node_2.memory}},
    "volume": {
      "size": {{cluster.es_node_2.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.es_node_2.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 3,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.es_node.static.os.ssl.http.enabled}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.discovery.zen.no_master_block": {{env.es_node.dynamic.os.discovery.zen.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "prometheus.node.exporter": {{env.es_node.prometheus.node.exporter}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "dynamic.os.node.attr.data": {{env.es_node_2.dynamic.os.node.attr.data}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "os_cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_c_p": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_all": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_coordinating": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_primary": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_replica": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_all": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_limit": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"],
        "index_pressure_group": ["node_indexing_pr_coordinating", "node_indexing_pr_primary", "node_indexing_pr_replica", "node_indexing_pr_all", "node_indexing_pr_limit"],
        "index_pressure_percent_group": ["node_indexing_pr_percent_c_p", "node_indexing_pr_percent_all"]
      },
      "display": ["os_cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "index_pressure_group", "index_pressure_percent_group"],
      "alarm": ["os_cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "node_indexing_pr_percent_all", "node_indexing_pr_percent_c_p"]
    }
  }, {
    "role": "es_node_3",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-ut8y93af"
    },
    "instance_class": {{cluster.es_node_3.instance_class}},
    "count": {{cluster.es_node_3.count}},
    "cpu": {{cluster.es_node_3.cpu}},
    "memory": {{cluster.es_node_3.memory}},
    "volume": {
      "size": {{cluster.es_node_3.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.es_node_3.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_in": {
        "pre_check": "appctl preScaleInCheck",
        "cmd": "appctl scaleIn",
        "timeout": 24000
      },
      "scale_out": {
        "cmd": "appctl scaleOut",
        "timeout": 43200
      },
      "destroy": {
        "allow_force": false,
        "post_stop_service": true,
        "cmd": "appctl destroy"
      },
      "restart_rolling": {
        "type": "custom",
        "cmd": "appctl restart role",
        "timeout": 2000,
        "service_params": {
          "node.ip": {{service_params.restart.node.ip}},
          "timeout": {{service_params.restart.timeout}}
        }
      },
      "dump": {
        "type": "custom",
        "cmd": "appctl dump",
        "service_params": {
          "node.ip": {{service_params.dump.node.ip}},
          "timeout": {{service_params.dump.timeout}}
        },
        "timeout": 2000
      },
      "clear_dump": {
        "type": "custom",
        "cmd": "appctl clearDump",
        "service_params": {
          "node.ip": {{service_params.clear.dump.node.ip}}
        }
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 4,
        "timeout": 43200
      }
    },
    "env": {
        "static.os.ssl.http.enabled": {{env.es_node.static.os.ssl.http.enabled}},
        "confd.sysctl.tcp_keepalive_intvl": {{env.es_node.confd.sysctl.tcp_keepalive_intvl}},
        "confd.sysctl.tcp_keepalive_probes": {{env.es_node.confd.sysctl.tcp_keepalive_probes}},
        "confd.sysctl.tcp_keepalive_time": {{env.es_node.confd.sysctl.tcp_keepalive_time}},
        "static.log4j.clean_logs_older_than_n_days": {{env.es_node.static.log4j.clean_logs_older_than_n_days}},
        "dynamic.os.discovery.zen.no_master_block": {{env.es_node.dynamic.os.discovery.zen.no_master_block}},
        "static.jvm.enable_heap_dump": {{env.es_node.static.jvm.enable_heap_dump}},
        "static.os.os_additional_line1": {{env.es_node.static.os.os_additional_line1}},
        "static.os.os_additional_line2": {{env.es_node.static.os.os_additional_line2}},
        "static.os.os_additional_line3": {{env.es_node.static.os.os_additional_line3}},
        "static.os.gateway.recover_after_time": {{env.es_node.static.os.gateway.recover_after_time}},
        "static.os.gateway.expected_data_nodes": {{env.es_node.static.os.gateway.expected_data_nodes}},
        "static.os.gateway.recover_after_data_nodes": {{env.es_node.static.os.gateway.recover_after_data_nodes}},
        "static.os.http.cors.enabled": {{env.es_node.static.os.http.cors.enabled}},
        "static.os.http.cors.allow-origin": {{env.es_node.static.os.http.cors.allow-origin}},
        "prometheus.node.exporter": {{env.es_node.prometheus.node.exporter}},
        "static.os.thread_pool.write.queue_size": {{env.es_node.static.os.thread_pool.write.queue_size}},
        "static.os.thread_pool.search.queue_size": {{env.es_node.static.os.thread_pool.search.queue_size}},
        "static.os.indices.memory.index_buffer_size": {{env.es_node.static.os.indices.memory.index_buffer_size}},
        "static.os.indices.fielddata.cache.size": {{env.es_node.static.os.indices.fielddata.cache.size}},
        "static.os.indices.queries.cache.size": {{env.es_node.static.os.indices.queries.cache.size}},
        "static.os.indices.requests.cache.size": {{env.es_node.static.os.indices.requests.cache.size}},
        "static.log4j.rootLogger.level": {{env.es_node.static.log4j.rootLogger.level}},
        "static.log4j.logger.action.level": {{env.es_node.static.log4j.logger.action.level}},
        "static.log4j.logger.deprecation.level": {{env.es_node.static.log4j.logger.deprecation.level}},
        "static.log4j.logger.index_search_slowlog_rolling.level": {{env.es_node.static.log4j.logger.index_search_slowlog_rolling.level}},
        "static.log4j.logger.index_indexing_slowlog.level": {{env.es_node.static.log4j.logger.index_indexing_slowlog.level}},
        "static.log4j.logger.task_detailslog_rolling.level": {{env.es_node.static.log4j.logger.task_detailslog_rolling.level}},
        "static.os.repositories.url.allowed_urls": {{env.es_node.static.os.repositories.url.allowed_urls}},
        "static.os.reindex.remote.whitelist": {{env.es_node.static.os.reindex.remote.whitelist}},
        "static.ik.remote_ext_dict": {{env.es_node.static.ik.remote_ext_dict}},
        "static.ik.remote_ext_stopwords": {{env.es_node.static.ik.remote_ext_stopwords}},
        "static.os.script.allowed_types": {{env.es_node.static.os.script.allowed_types}},
        "static.os.script.allowed_contexts": {{env.es_node.static.os.script.allowed_contexts}},
        "dynamic.os.action.destructive_requires_name": {{env.es_node.dynamic.os.action.destructive_requires_name}},
        "dynamic.os.node.attr.data": {{env.es_node_3.dynamic.os.node.attr.data}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 4,
      "check_cmd": "appctl healthCheck",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "os_cluster_status": {
          "unit": "",
          "value_type": "str",
          "statistics_type": "latest",
          "enums": ["green", "yellow", "red"]
        },
        "cluster_jvm_heap_used_in_percent": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "avg",
          "scale_factor_when_display": 0.01
        },
        "cluster_jvm_threads_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_indices_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_primaries_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_shards_replication_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "cluster_docs_deleted_count": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_nodes": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "relocating_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "initializing_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "unassigned_shards": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_pending_tasks": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "number_of_in_flight_fetch": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "task_max_waiting_in_queue_millis": {
          "unit": "ms",
          "value_type": "int",
          "statistics_type": "latest"
        },
        "active_shards_percent_as_number": {
          "unit": "%",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_c_p": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_percent_all": {
            "unit": "",
            "value_type": "int",
            "statistics_type": "latest",
            "scale_factor_when_display": 0.01
        },
        "node_indexing_pr_coordinating": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_primary": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_replica": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_all": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        },
        "node_indexing_pr_limit": {
            "unit": "MB",
            "value_type": "int",
            "statistics_type": "latest"
        }
      },
      "groups": {
        "cluster_docs_group": ["cluster_docs_count", "cluster_docs_deleted_count"],
        "cluster_shards_group": ["cluster_shards_primaries_count", "cluster_shards_replication_count", "relocating_shards", "initializing_shards", "unassigned_shards"],
        "index_pressure_group": ["node_indexing_pr_coordinating", "node_indexing_pr_primary", "node_indexing_pr_replica", "node_indexing_pr_all", "node_indexing_pr_limit"],
        "index_pressure_percent_group": ["node_indexing_pr_percent_c_p", "node_indexing_pr_percent_all"]
      },
      "display": ["os_cluster_status", "number_of_nodes", "cluster_indices_count", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "cluster_docs_group", "cluster_shards_group", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "index_pressure_group", "index_pressure_percent_group"],
      "alarm": ["os_cluster_status", "number_of_nodes", "cluster_jvm_heap_used_in_percent", "cluster_jvm_threads_count", "relocating_shards", "unassigned_shards", "number_of_pending_tasks", "number_of_in_flight_fetch", "task_max_waiting_in_queue_millis", "active_shards_percent_as_number", "node_indexing_pr_percent_all", "node_indexing_pr_percent_c_p"]
    }
  }, {
    "role": "lst_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-f57961wg"
    },
    "instance_class": {{cluster.lst_node.instance_class}},
    "count": {{cluster.lst_node.count}},
    "cpu": {{cluster.lst_node.cpu}},
    "memory": {{cluster.lst_node.memory}},
    "volume": {
      "size": {{cluster.lst_node.volume_size}}
    },
    "user_access": true,
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 6,
        "timeout": 43200
      }
    },
    "env": {
        "config.reload.automatic": {{env.lst_node.config.reload.automatic}},
        "config.reload.interval": {{env.lst_node.config.reload.interval}},
        "input_conf_content": {{env.lst_node.input_conf_content}},
        "filter_conf_content": {{env.lst_node.filter_conf_content}},
        "output_conf_content": {{env.lst_node.output_conf_content}},
        "output_es_content": {{env.lst_node.output_es_content}},
        "gemfile_append_content": {{env.lst_node.gemfile_append_content}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "healthy_threshold": 2,
      "unhealthy_threshold": 5,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    }
  }, {
    "role": "kbn_node",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-k792vkml"
    },
    "instance_class": {{cluster.kbn_node.instance_class}},
    "count": {{cluster.kbn_node.count}},
    "cpu": {{cluster.kbn_node.cpu}},
    "memory": {{cluster.kbn_node.memory}},
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "upgrade": {
        "cmd": "appctl upgrade",
        "order": 5,
        "timeout": 60
      }
    },
    "env": {
        "enable_cerebro": {{env.kbn_node.enable_cerebro}},
        "proxy.balance.policy": {{env.kbn_node.proxy.balance.policy}},
        "proxy.connect.timeout": {{env.kbn_node.proxy.connect.timeout}},
        "proxy.timeout": {{env.kbn_node.proxy.timeout}},
        "proxy.max.conn": {{env.kbn_node.proxy.max.conn}},
        "nginx_client_max_body_size": {{env.kbn_node.nginx_client_max_body_size}}
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 150,
      "healthy_threshold": 2,
      "unhealthy_threshold": 3,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    }
  }],
  "endpoints": {
    "reserved_ips": {
      "esvip": {
        "value": ""
      }
    },
    "OpenSearch": {
      "port": 9200,
      "protocol": "http"
    },
    "Logstash": {
      "port": 9600,
      "protocol": "http"
    },
    "Dashboard": {
      "port": 5601,
      "protocol": "http"
    },
    "Node Exporter": {
      "port": 9100,
      "protocol": "http"
    },
    "Opensearch Exporter": {
      "port": 9200,
      "protocol": "http"
    },
    "Cerebro on Dashboard": {
      "port": 9000,
      "protocol": "http"
    }
  }
}
