{{- $rolesMap := map "es_node" "opensearch-1" "es_node_2" "opensearch-2" "es_node_3" "opensearch-3" "es_master_node" "opensearch-master" }}
{{- $myRole := index $rolesMap (getv "/host/role") }}
{{- $mySid := getv "/host/sid" }}
{{- $myIp := getv "/host/ip" }}
{{- $clusterId := getv "/cluster/cluster_id" }}
{{- $sslHttpEnabled := getv "/env/static.os.ssl.http.enabled" }}
{{- $myMem := getv "/host/memory" }}

allNodes="$(sort -V << ALL_NODES_EOF
{{- $groupsMap := map "2" "n2" "3" "n3" "master" "m" }}
{{- range $nodeRole := lsdir "/hosts" | filter "es_*" }}
{{- $joiningNodes := lsdir (printf "/adding-hosts/%s" $nodeRole) }}
{{- $leavingNodes := lsdir (printf "/deleting-hosts/%s" $nodeRole) }}
{{- range $instanceId := lsdir (printf "/hosts/%s" $nodeRole) }}
{{- if $joiningNodes | filter $instanceId }}
joining/
{{- else if $leavingNodes | filter $instanceId }}
leaving/
{{- else }}
stable/
{{- end }}
{{- $nodeRole }}/
{{- $instanceId }}/
{{- $clusterId }}-
{{- range split $nodeRole "_" | filter "2|3|master" }}{{ index $groupsMap . }}-{{ end }}
{{- getv (printf "/hosts/%s/%s/sid" $nodeRole $instanceId) }}/
{{- getv (printf "/hosts/%s/%s/ip" $nodeRole $instanceId) }}
{{- end }}
{{- end }}
ALL_NODES_EOF
)"

{{- $userId := getv "/cluster/user_id" }}
{{- $uuid := getv "/cluster/global_uuid" }}
encrypted=$(echo -n {{ $userId }}{{ $uuid }} | sha256sum | base64)
passSys=${encrypted:16:16}

{{- $addingHostsFlag := "" }}
{{- $deletingHostsFlag := "" }}
{{- if len (ls "/adding-hosts") }}
  {{- $addingHostsFlag = "true" }}
{{- else }}
  {{- $addingHostsFlag = "false" }}
{{- end }}
{{- if len (ls "/deleting-hosts") }}
  {{- $deletingHostsFlag = "true" }}
{{- else }}
  {{- $deletingHostsFlag = "false" }}
{{- end }}
flush > /opt/app/current/bin/envs/node.env << ES_ENV_EOF
NODE_CTL=
CLUSTER_ID={{ $clusterId }}
NODE_NAME={{ $clusterId }}-{{ range split $myRole "-" | filter "2|3|master" }}{{ index $groupsMap . }}-{{ end }}{{ $mySid }}
MY_HYPER_TYPE=kvm
DATA_MOUNTS="/data"
MY_IP={{ $myIp }}
MY_ROLE={{ $myRole }}
MY_MEM={{ $myMem }}
SYS_USER=qingcloud
SYS_USER_PWD=$passSys
{{- if eq $sslHttpEnabled "true" }}
HTTP_PROTOCOL=https
{{- else }}
HTTP_PROTOCOL=http
{{- end }}
{{- range gets "/env/appctl.*" }}
{{ replace (base .Key) "." "_" -1 | toUpper }}={{ .Value }}
{{- end }}
IS_MASTER={{ eq $myRole "opensearch-master" }}
HEAP_DUMP_PATH="{{ getv "/env/heap_dump_path" "/data/opensearch/dump" }}"
SERVICES="\$SERVICES opensearch/true/http:9200"

ADDING_HOSTS_FLAG={{ $addingHostsFlag }}
DELETING_HOSTS_FLAG={{ $deletingHostsFlag }}

ROLE_NODES="$(echo "{{ join (getvs (printf "/hosts/%s/*/ip" (getv "/host/role"))) " " }}" | xargs -n1 | sort -V | xargs)"
JOINING_DATA_NODES="$(echo "$allNodes" | awk -F/ '$1~/^j/ && $2~/^es_node/ {print $5}' | sort -V | xargs)"
STABLE_DATA_NODES="$(echo "$allNodes" | awk -F/ '$1~/^s/ && $2~/^es_node/ {print $5}' | sort -V | xargs)"
LEAVING_DATA_NODES="$(echo "$allNodes" | awk -F/ '$1~/^l/ && $2~/^es_node/ {print $5}' | sort -V | xargs)"
JOINING_MASTER_NODES="$(echo "$allNodes" | awk -F/ '$1~/^j/ && $2~/^es_master/ {print $5}' | sort -V | xargs)"
STABLE_MASTER_NODES="$(echo "$allNodes" | awk -F/ '$1~/^s/ && $2~/^es_master/ {print $5}' | sort -V | xargs)"
LEAVING_MASTER_NODES="$(echo "$allNodes" | awk -F/ '$1~/^l/ && $2~/^es_master/ {print $5}' | sort -V | xargs)"

STABLE_MASTER_NODES_HOSTS="$(echo "$allNodes" | awk -F/ '$1~/^s/ && $2~/^es_master/ {print $4}' | sort -V | xargs)"
JOINING_MASTER_NODES_HOSTS="$(echo "$allNodes" | awk -F/ '$1~/^j/ && $2~/^es_master/ {print $4}' | sort -V | xargs)"
LEAVING_MASTER_NODES_HOSTS="$(echo "$allNodes" | awk -F/ '$1~/^l/ && $2~/^es_master/ {print $4}' | sort -V | xargs)"
ES_ENV_EOF
