joiningGenericNodes="$(echo "$allNodes" | awk -F/ '$1~/^j/ && $2~/^es_node/ {print $4}' | xargs)"
stableGenericNodes="$(echo "$allNodes" | awk -F/ '$1~/^s/ && $2~/^es_node/ {print $4}' | xargs)"
joiningMasterNodes="$(echo "$allNodes" | awk -F/ '$1~/^j/ && $2~/^es_master/ {print $4}' | xargs)"
stableMasterNodes="$(echo "$allNodes" | awk -F/ '$1~/^s/ && $2~/^es_master/ {print $4}' | xargs)"

expectedGenericNodes="$(echo $joiningGenericNodes $stableGenericNodes)"
expectedGenNodesCount=$(echo $expectedGenericNodes | wc -w)
expectedGenericQuorum=$(( $expectedGenNodesCount / 2 + 1 ))
recoverAfterGenCount=$(( $expectedGenericQuorum > $expectedGenNodesCount - 2 ? $expectedGenericQuorum : $expectedGenNodesCount - 2 ))

expectedMasterNodes="$(echo $joiningMasterNodes $stableMasterNodes)"
expectedMastersCount=$(echo ${expectedMasterNodes:=$expectedGenericNodes} | wc -w)
expectedMasterQuorum=$(( $expectedMastersCount / 2 + 1 ))
recoverAfterMastersCount=$(( $expectedMasterQuorum > $expectedMastersCount - 2 ? $expectedMasterQuorum : $expectedMastersCount - 2 ))

{{- $isDedicatedMaster := eq $myRole "opensearch-master" }}
discoveryHosts="${stableMasterNodes:-$stableGenericNodes}"

dataDirs="$(egrep -o " /data[23]? " /proc/mounts | sed 's#^#-#g; s# $#/opensearch/data#g')"

flush > /opt/app/conf/opensearch/opensearch.yml << ES_YML_EOF
action.destructive_requires_name: {{ getv "/env/action.destructive_requires_name" "true" }}
bootstrap.memory_lock: true

cluster.name: {{ getv "/cluster/cluster_id" }}

{{- if not (getvs "/env/es_additional_line*" | filter "cluster.routing.allocation.awareness.attributes:.*") }}
cluster.routing.allocation.awareness.attributes: zone
{{- end }}

cluster.initial_master_nodes: [ ${discoveryHosts// /,} ]
cluster.auto_shrink_voting_configuration: {{ getv "/env/cluster.auto_shrink_voting_configuration" "true" }}
cluster.no_master_block: {{ getv "/env/cluster.no_master_block" "write" }}

discovery.seed_hosts: [ ${discoveryHosts// /,} ]

gateway.expected_data_nodes: $expectedGenNodesCount
gateway.expected_master_nodes: $expectedMastersCount
gateway.recover_after_data_nodes: $recoverAfterGenCount
gateway.recover_after_master_nodes: $recoverAfterMastersCount
gateway.recover_after_time: {{ getv "/env/gateway.recover_after_time" "5m" }}

http.cors.allow-origin: "{{ getv "/env/http.cors.allow-origin" "" }}"
http.cors.enabled: {{ getv "/env/http.cors.enabled" "false" }}
http.port: 9200

indices.fielddata.cache.size: {{ getv "/env/indices.fielddata.cache.size" "90%" }}
indices.memory.index_buffer_size: {{ getv "/env/indices.memory.index_buffer_size" "10%" }}
indices.queries.cache.size: {{ getv "/env/indices.queries.cache.size" "10%" }}
indices.requests.cache.size: {{ getv "/env/indices.requests.cache.size" "1%" }}

thread_pool.write.queue_size: {{ getv "/env/thread_pool.write.queue_size" }}
thread_pool.search.queue_size: {{ getv "/env/thread_pool.search.queue_size" }}

network.host: {{ $myIp }}

{{- if not (getvs "/env/es_additional_line*" | filter "node.attr.data:.*") }}
{{- if not $isDedicatedMaster }}
node.attr.data: "{{ getv "/env/node.attr.data" "hot" }}"
{{- end }}
{{- end }}

{{- if not (getvs "/env/es_additional_line*" | filter "node.attr.zone:.*") }}
node.attr.zone: {{ getv "/host/zone" (getv "/cluster/zone") }}
{{- end }}

node.data: {{ not $isDedicatedMaster }}
node.ingest: {{ not $isDedicatedMaster }}
node.master: {{ or $isDedicatedMaster (not (ls "/hosts/es_master_node")) }}
node.name: {{ getv "/cluster/cluster_id" }}-{{ range split $myRole "-" | filter "2|3|master" }}{{ index $groupsMap . }}-{{ end }}{{ getv "/host/sid" }}

path.data:
$dataDirs

path.logs: /data/opensearch/logs

{{- with getv "/env/path.repo" "[]" }}
path.repo: {{ . }}
{{- end }}

{{- if not (getvs "/env/es_additional_line*" | filter "reindex.remote.whitelist:.*") }}
reindex.remote.whitelist: "{{ getv "/env/reindex.remote.whitelist" "" }}"
{{- end }}
{{- with getv "/env/repositories.url.allowed_urls" "[]" }}
repositories.url.allowed_urls: {{ . }}
{{- end }}

{{- with getv "/env/script.allowed_types" }}
script.allowed_types: {{ . }}
{{- end }}

{{- with getv "/env/script.allowed_contexts" }}
script.allowed_contexts: {{ . }}
{{- end }}

{{- range getvs "/env/es_additional_line*" }}
{{ . }}
{{- end }}

plugins.security.ssl.transport.pemcert_filepath: /opt/app/conf/opensearch/esnode.pem
plugins.security.ssl.transport.pemkey_filepath: /opt/app/conf/opensearch/esnode-key.pem
plugins.security.ssl.transport.pemtrustedcas_filepath: /opt/app/conf/opensearch/root-ca.pem
plugins.security.ssl.transport.enforce_hostname_verification: false
plugins.security.ssl.http.enabled: false
plugins.security.ssl.http.pemcert_filepath: /opt/app/conf/opensearch/esnode.pem
plugins.security.ssl.http.pemkey_filepath: /opt/app/conf/opensearch/esnode-key.pem
plugins.security.ssl.http.pemtrustedcas_filepath: /opt/app/conf/opensearch/root-ca.pem
plugins.security.allow_unsafe_democertificates: true
plugins.security.allow_default_init_securityindex: true
plugins.security.authcz.admin_dn:
  - CN=kirk,OU=client,O=client,L=test, C=de

plugins.security.nodes_dn_dynamic_config_enabled: true
plugins.security.audit.type: internal_opensearch
plugins.security.enable_snapshot_restore_privilege: true
plugins.security.check_snapshot_restore_write_privileges: true
plugins.security.restapi.roles_enabled: ["all_access", "security_rest_api_access"]
plugins.security.system_indices.enabled: true
plugins.security.system_indices.indices: [".opendistro-alerting-config", ".opendistro-alerting-alert*", ".opendistro-anomaly-results*", ".opendistro-anomaly-detector*", ".opendistro-anomaly-checkpoints", ".opendistro-anomaly-detection-state", ".opendistro-reports-*", ".opendistro-notifications-*", ".opendistro-notebooks", ".opendistro-asynchronous-search-response*", ".replication-metadata-store"]
ES_YML_EOF
