performanceAnalyzer=/opt/opensearch/current/plugins/opensearch-performance-analyzer/pa_config/performance-analyzer.properties

sed -i 's!#webservice-bind-host =!webservice-bind-host = 0.0.0.0!' $performanceAnalyzer










