{{- $userId := getv "/cluster/user_id" }}
{{- $uuid := getv "/cluster/global_uuid" }}
encrypted=$(echo -n {{ $userId }}{{ $uuid }} | sha256sum | base64)
passSys=${encrypted:16:16}
passOsd=${encrypted:0:16}

flush /opt/app/current/bin/envs/node.env << NODE_ENV_EOF
NODE_CTL=
DATA_MOUNTS=""
SERVICES="\$SERVICES opensearch-dashboards/true/http:5601"
MY_HYPER_TYPE=kvm
MY_IP={{ getv "/host/ip" }}
OS_VIP={{ getv "/cluster/endpoints/reserved_ips/esvip/value" }}
KIBANA_NODES="$(echo "{{ join (getvs "/hosts/kbn_node/*/ip") " " }}" | xargs -n1 | sort -V | xargs)"
SYS_USER=qingcloud
SYS_USER_PWD=$passSys
OSD_USER_PWD=$passOsd
NODE_ENV_EOF
