flush > /opt/app/conf/opensearchDashboards/opensearchDashboards.yml << OPENSEARCHDASHBOARDS_YML_EOF
server.port: 5601
server.host: {{ getv "/host/ip" }}
server.maxPayloadBytes: 1048576
server.name: opensearchDashboards
opensearch.hosts: [ http://{{ getv "/cluster/endpoints/reserved_ips/esvip/value" }}:9200 ]
opensearchDashboards.index: ".kibana"
opensearch.username: {{ getv "/env/opensearch.admin.user" "admin" }}
opensearch.password: {{ getv "/env/opensearch.admin.password" "admin" }}
server.ssl.enabled: false
#server.ssl.certificate: /path/to/your/server.crt
#server.ssl.key: /path/to/your/server.key
opensearch.pingTimeout: 1500
opensearch.requestTimeout: 30000
opensearch.requestHeadersWhitelist: [ authorization,securitytenant ]
opensearch.shardTimeout: 30000
opensearch.logQueries: false

opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: ["Private", "Global"]
opensearch_security.readonly_mode.roles: ["kibana_read_only"]

# Use this setting if you are running kibana without https
opensearch_security.cookie.secure: false


pid.file: /var/run/dashboards/opensearchDashboards.pid
logging.dest: /data/dashboards/logs/opensearch_dashboards.log
logging.silent: false
logging.quiet: false
logging.verbose: false
ops.interval: 5000
OPENSEARCHDASHBOARDS_YML_EOF