flush > /opt/app/current/conf/caddy/caddyfile << LS_CADDYFILE_EOF
:80 {
  encode gzip
  root * /data/opensearch
  file_server browse

  handle /dicts/* {
    header Content-Type text/plain;charset=utf-8
  }

  handle_path /logstash/* {
    rewrite * /{path}
    reverse_proxy localhost:81
  }
}

:81 {
  encode gzip
  root * /data/logstash
  file_server browse

  handle /logs/*,/dump/* {
    header Content-Type text/plain;charset=utf-8
  }
}

LS_CADDYFILE_EOF
